<%- include('./partials/header.ejs') %> 
<!-- CSS only -->
<div class="ucard" style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
    <div class="card" style="width: 18rem; ">
        <img src="https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar-600x600.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= currentUser.fullname %> </h5>
           <p class="card-text">Vəzifəsi:  <%= currentUser.role %> </p>
           <p class="card-text">Əlaqə: <%= currentUser.phone %></p>
           <p class="card-text">E-poçt: <%= currentUser.username %></p>
          <a href="mailto:<%=currentUser.username %>" style="display: flex; justify-content: center; margin-top: 5px;" class="btn btn-primary">Email Gönder</a>
          <%if(currentUser.role=='admin'){%>
          <a href="/evaluations" style="display: flex; justify-content: center; margin-top: 5px;" class="btn btn-danger">İdarəetmə paneli</a>
          <% }else{%>
            <%  } %>   
        </div>
      </div>
    
</div>


<%- include('partials/footer.ejs') %> 
