<%- include('../partials/header.ejs') %>       
<div class="inbackround">
    <div class="content">
        <div class="header"
            style=" color: azure; display: flex; justify-content: center; align-items: center;">
            <h1><%=evaluation.name%></h1>
        </div>
        <div class="button"
            style="display:flex; justify-content: center; gap: 5px;  z-index: 5;">
            <button class="btn btn-sm btn-light" style="z-index: 15;">Yekun Hesabat Əlavə et</button>
            <a href="/evaluations/<%=evaluation._id%>/edit" target="_blank">
                <button class="btn btn-sm btn-warning" style="z-index: 50;"><i class="bi bi-pencil-square"></i> Hesabatı redaktə et</button></a>
           
        </div>
        
    </div>
</div>

<div class="area">
    <div class="leftarea"><strong><h6 style="padding-top: 10px; padding-left: 5px;">Başlıqlar</strong> </h6><hr>
        <li><a href="#">1.Elmi müəssisə (təşkilat): Giriş</a></li>
        <li><a href="#">2.Özünüqiymətləndirmə prosesi</a></li>
        <li><a href="#">3.Tədqiqat proqramı</a></li>
        <li><a href="#">4.Tədqiqat fəaliyyəti</a></li>
        <li><a href="#">5.Tədqiqat nəticəsi</a></li>
        <li><a href="#">6.İnsan resursları</a></li>
        <li><a href="#">7.İnfrastruktur</a></li>
        <li><a href="#">8.Maliyyə resursları</a></li>
        <li><a href="#">9.Tədqiqat mühiti</a></li>
        <li><a href="#">10.Elmi rəhbərlik və dəstək</a></li>
        <li><a href="#">11.İşçi heyyət</a></li>
        <li><a href="#">12.Keyfiyyət təminatı</a></li>
        <li><a href="#">13.İdarəetmə və nəzarət</a></li>
        <li><a href="#">14.Daxili keyfiyyət təminatı</a></li>
        <li><a href="#">15.Akademik dürüstlük</a></li>
        <li><a href="#">16.Nəticələr</a></li>
        <li><a href="#">17.Əlavə</a></li>
       
</div>
    <div class="centerarea">
        <div class="question">
            <div class="qtitle"><strong>1.Elmi müəssisə (təşkilat): Giriş</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_1%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(comment=>{ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author.fullname%> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>
        <div class="question">
            <div class="qtitle"><strong>2. Özünüqiymətləndirmə prosesi</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_2%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%=comment.author%> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>
        <div class="question">
            <div class="qtitle"><strong>3. Tədqiqat proqramı</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_3%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>4.Tədqiqat fəaliyyəti</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_4%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>5. Tədqiqat nəticəsi</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_5%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>6. İnsan resursları</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_6%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>7. İnfrastruktur</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_7%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>8. Maliyyə resursları</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_8%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>9. Tədqiqat mühiti</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_9%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>10. Elmi rəhbərlik və dəstək</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_10%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>11. İşçi heyyət</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_11%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>12. Keyfiyyət təminatı</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_12%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>13. İdarəetmə və nəzarət</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_13%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>14. Daxili keyfiyyət təminatı</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_14%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>15. Akademik dürüstlük</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_15%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>16. Nəticələr</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_16%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

        <div class="question">
            <div class="qtitle"><strong>17. Əlavə</strong> <hr></div>
            <div class="qcontent"><%=evaluation.question_17%></div>
            <div class="comment">Şərhlər
                <div class="comment_content">
                    <% evaluation.comments.forEach(function(comment){ %>
                         <p> <strong> <i class="bi bi-person-circle" style="width: 10px; margin-right: 2px;"></i><%= comment.author %> </strong> <i class="bi bi-dash-lg"></i><%= comment.content %> </p>
                    <%}) %> 
                   </div>
            </div>
        </div>

       
<!-- ----------------------------->
                           <!-- ----------------------------->
           <div style="width: 50%;">
               <form action="/evaluations/<%= evaluation._id %>/comments" method="POST">
                   <div class="form-group">
                       <input class="form-control" type="text" name="comment[content]" placeholder="Şərh">
                   </div>
           
                   <div class="form-group">
                       <button class="btn btn-large btn-primary btn-block">Əlavə et</button>
                   </div>
               </form>
           </div>
           </div>
            </div>
            </div>
        </div>
        </div>
        <!-- ------------------------------------------------------------ -->

</div>



<script>



const questions = document.querySelectorAll(".questions");
    questions.forEach(questions =>{
        questions.addEventListener("click", ()=>{
            questions.classList.toggle("active");
        });
    });


const addcom = document.getElementById('#addcom');
const ccontainer = document.querySelector('.c-container');
const close = document.getElementById('close');

    addcomment.addEventListener('click',()=>{
        c-container.classList.add('showbox');

    });

    close.addEventListener('click',()=>{
        ccontainer.classList.remove('showbox');

    });

    </script>
<%- include('../partials/footer.ejs') %> 