<%- include('../partials/header.ejs') %>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://cdn.jsdelivr.net/npm/pdfmake@latest/build/pdfmake.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/pdfmake@latest/build/vfs_fonts.min.js'></script>
  <script>
    function copy(copyId){
    let inputElement = document.createElement("input");
    inputElement.type = "text";
    let copyText = document.getElementById(copyId).innerHTML;
    inputElement.value = copyText;
    document.body.appendChild(inputElement);
    inputElement.select();
    document.execCommand('copy');
    document.body.removeChild(inputElement);
    document.getElementById("alert").style.display = "block";
        setTimeout(function(){
            document.getElementById("alert").style.display = "none";
        }, 800);
    } 
    </script>
  <!-- html-to-pdfmake file: -->
  <script src="https://cdn.jsdelivr.net/npm/html-to-pdfmake/browser.js"></script>

<div class="inbackround">
    <div class="content">
        <div class="header">

            <% if(currentUser.role=== "admin"|| currentUser.role==='team-leader' || evaluation.name===currentUser.evaluationid){%>
            <h2 id="text1" style="font-weight: 900;"><%=evaluation.name%></h2> <button class="btn btn-sm btn-danger" style="margin-bottom: 5px;" onclick="copy('text1')">Müəssisə adını kopyala</i></button><p style="display: none;" id="alert">Müəssisə adı kopyalandı</p>
       
        <div class="button"
            style="display:flex; justify-content: center; gap: 5px;  z-index: 5;">
            <%if(currentUser.role==='admin' || currentUser.role==='team-leader' ){%>
               
            <a href="/evaluations/<%=evaluation._id%>/reports/add" target="_blank"><button class="btn btn-sm btn-light" style="z-index: 15;"><i class="bi bi-layers"></i>Yekun Hesabat Əlavə et</button></a>
            <a href="/evaluations/<%=evaluation._id%>/edit" target="_blank">
                <button class="btn btn-sm btn-warning" style="z-index: 50;"><i class="bi bi-pencil-square"></i> Hesabatı redaktə et</button>
            </a>
            <button type="submit" class="pdfbutton btn btn-success btn-sm"><i class="bi bi-download"></i> Hesabatı yüklə</button>
            <% }else{%>
                <%  } %>   
            <a href="/evaluations/<%=evaluation._id%>/comments" target="_blank">
                <button class="btn btn-sm btn-dark" style="z-index: 50;"><i class="bi bi-people"></i> Göndərilən qeydlər</button>
            </a>
        </div>
        </div>
        
    </div>
</div>

<div class="area" id="area">
    <div class="leftarea"><strong><h6 style="padding-top: 10px; padding-left: 5px;">Başlıqlar</strong> </h6><hr>
        <li data-tab-target="#question1" class="active tab">1.Elmi müəssisə (təşkilat): Giriş</li>
        <li data-tab-target="#question2" class="tab">2.Özünüqiymətləndirmə prosesi</li>
        <li data-tab-target="#question3" class="tab">3.Tədqiqat proqramı</li>
        <li data-tab-target="#question4" class="tab">4.Tədqiqat fəaliyyəti</li>
        <li data-tab-target="#question5" class="tab">5.Tədqiqat nəticəsi</li>
        <li data-tab-target="#question6" class="tab">6.İnsan resursları</li>
        <li data-tab-target="#question7" class="tab">7.İnfrastruktur</a></li>
        <li data-tab-target="#question8" class="tab">8.Maliyyə resursları</li>
        <li data-tab-target="#question9" class="tab">9.Tədqiqat mühiti</li>
        <li data-tab-target="#question10" class="tab">10.Elmi rəhbərlik və dəstək</li>
        <li data-tab-target="#question11" class="tab">11.İşçi heyyət</li>
        <li data-tab-target="#question12" class="tab">12.Keyfiyyət təminatı</li>
        <li data-tab-target="#question13" class="tab">13.İdarəetmə və nəzarət</li>
        <li data-tab-target="#question14" class="tab">14.Daxili keyfiyyət təminatı</li>
        <li data-tab-target="#question15" class="tab">15.Akademik dürüstlük</li>
        <li data-tab-target="#question16" class="tab">16.Nəticələr</li>
        <li data-tab-target="#question17" class="tab">17.Əlavə</li>
        <li data-tab-target="#question18" class="tab">18.Əlavə edilmiş bölmə</li>
       
</div>
    <div class="centerarea" id="centerarea">
        <div class="pdfcontent">
        <div id="question1" data-tab-content class="question active">
            <div class="qtitle"><strong>1.Elmi müəssisə (təşkilat): Giriş</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_1%></div>
        </div>
        <div id="question2" data-tab-content class="question">
            <div class="qtitle"><strong>2. Özünüqiymətləndirmə prosesi</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_2%></div>
            
        </div>
        <div id="question3" data-tab-content class="question">
            <div class="qtitle"><strong>3. Tədqiqat proqramı</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_3%></div>
            
        </div>

        <div id="question4" data-tab-content class="question">
            <div class="qtitle"><strong>4.Tədqiqat fəaliyyəti</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_4%></div>
           
        </div>

        <div id="question5" data-tab-content class="question">
            <div class="qtitle"><strong>5. Tədqiqat nəticəsi</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_5%></div>
           
        </div>

        <div id="question6" data-tab-content class="question">
            <div class="qtitle"><strong>6. İnsan resursları</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_6%></div>
         
        </div>

        <div id="question7" data-tab-content class="question">
            <div class="qtitle"><strong>7. İnfrastruktur</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_7%></div>
            
        </div>

        <div id="question8" data-tab-content class="question">
            <div class="qtitle"><strong>8. Maliyyə resursları</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_8%></div>
            
        </div>

        <div id="question9" data-tab-content class="question">
            <div class="qtitle"><strong>9. Tədqiqat mühiti</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_9%></div>
            
        </div>

        <div id="question10" data-tab-content class="question">
            <div class="qtitle"><strong>10. Elmi rəhbərlik və dəstək</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_10%></div>
            
        </div>

        <div id="question11" data-tab-content class="question">
            <div class="qtitle"><strong>11. İşçi heyyət</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_11%></div>
           
        </div>

        <div id="question12" data-tab-content class="question">
            <div class="qtitle"><strong>12. Keyfiyyət təminatı</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_12%></div>
            
        </div>

        <div id="question13" data-tab-content class="question">
            <div class="qtitle"><strong>13. İdarəetmə və nəzarət</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_13%></div>
           
        </div>

        <div id="question14" data-tab-content class="question">
            <div class="qtitle"><strong>14. Daxili keyfiyyət təminatı</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_14%></div>
            
        </div>

        <div id="question15" data-tab-content  class="question">
            <div class="qtitle"><strong>15. Akademik dürüstlük</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_15%></div>
           
        </div>

        <div id="question16" data-tab-content class="question">
            <div class="qtitle"><strong>16. Nəticələr</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_16%></div>
           
        </div>

        <div id="question17" data-tab-content class="question">
            <div class="qtitle"><strong>17. Əlavə</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_17%></div>
           
        </div>

        <div id="question18" data-tab-content class="question">
            <div class="qtitle"><strong>18. Əlavə edilmiş bölmə</strong> <hr></div>
            <div class="qcontent"><%-evaluation.question_18%></div>
          
        </div>
      
    </div>

    <div >
        <form  class="combox" style="margin-top: 20px; margin-left: 20px; min-width: calc(100% - 290px);" action="/evaluations/<%= evaluation._id %>/comments" method="POST">
                <textarea  class="form-control"  id="form-control" name="comment[content]" ></textarea>
    
            <div style="margin-top: 10px;" class="form-group">
                <button class="btn btn-large btn-success ">Əlavə et</button>
            </div>
        </form>
    </div>
        </div>
        </div>
        <!-- ------------------------------------------------------------ -->

</div>
<% }else{%>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
    
    .content1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    
    }
    .icon{
        font-size: 150px;
        color: red;
        margin-bottom: 15px;
    }
    .errorcontent{
    margin-top: 500px;
    }
    </style>
    <div class="errorcontent">
    <div class="content1">
    <div class="icon"><i class="bi bi-exclamation-circle"></i></div>
    <h3 style="color: black;">Hörmətli <%= currentUser.fullname %></h3>
    <h5 style="color: black;"> Bu bölmədəki məlumatları görmək üçün administrator icazəsi lazımdır. </h5>
    </div>
    </div>
    <%} %> 



<script src="/ckeditor/ckeditor.js"></script>   



<script>

var pdfbutton = document.querySelector('.pdfbutton')
  pdfbutton.addEventListener('click', ()=>{
    var html = document.querySelector('.pdfcontent').innerHTML
   var val = htmlToPdfmake(html);
   var data = {content:val}
   pdfMake.createPdf(data).download()
  })

CKEDITOR.replace( 'form-control',{
    extraPlugins:'filebrowser',
        filebrowserBrowseUrl:'/list',//upload location
        filebrowserUploadMethod:'form',
        filebrowserUploadUrl:'/upload'//route
  });

const createPDF = document.getElementById('creatpdf')
const tabs = document.querySelectorAll('[data-tab-target]')
const tabContents = document.querySelectorAll('[data-tab-content]')
tabs.forEach(tab=>{
    tab.addEventListener('click', ()=>{
        const target = document.querySelector(tab.dataset.tabTarget)
        tabContents.forEach(tabContent =>{
            tabContent.classList.remove('active')
        })
        tabs.forEach(tab =>{
            tab.classList.remove('active')
        })
        tab.classList.add('active')
        target.classList.add('active')
    })
})


/* 
const questions = document.querySelectorAll(".questions");
    questions.forEach(questions =>{
        questions.addEventListener("click", ()=>{
            questions.classList.toggle("active");
        });
    });


const addcom = document.getElementById('#addcom');
const ccontainer = document.querySelector('.c-container');
const close = document.getElementById('close');

    addcomment.addEventListener('click',()=>{
        c-container.classList.add('showbox');

    });

    close.addEventListener('click',()=>{
        ccontainer.classList.remove('showbox');

    }); */

    </script>
            <span style="display: flex; justify-content: center; font-size: 12px;">[Göndərən: <%=evaluation.author.fullname%>][Tarix: <%=evaluation.createdAt.toLocaleString("en-Gb").slice(0,17)%>]</span> 

    <div style="color: black;" class="foote">
        <%- include('../partials/footer.ejs') %> 
    </div>
